.popup {
  width: screen;
  height: screen;
  /* background-color: rgba(255, 255, 255, 0.1); */
  position: fixed;
  top: 0px;
  left: 0px;
  /* transform: translateX(-50%); */
  z-index: 100;
}

.popup-container {
  /* background-color: white; */
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  position: relative;
  width: 650px;
}

.popup-content {
  text-align: start;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
/* w-full h-full fixed top-0 left-0 z-10 bg-headingColor bg-opacity-40 */

.popup-content iframe {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  /* padding-bottom: 56.25%; */
}

.popup-box {
  text-align: start;
}

.tech-box {
  display: flex;
  gap: 20px;
}

.tech-item {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
}

.buttonX {
  position: absolute;
  top: 15px;
  right: 15px;
  color: blueviolet;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
