.popup-main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding: 150px;
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-container {
  backdrop-filter: blur(60px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  position: relative;
  width: 550px;
}

.popup-content {
  text-align: start;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.popup-content iframe {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

.popup-link {
  width: 150px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 12px;
  padding: 5px 8px;
  border: 2px solid var(--highlight-color);
}

.popup-link:hover {
  background-color: var(--highlight-color);
  transition: 0.8s;
  transform: scale(1.1);
}

.link-container {
  display: flex;
  gap: 20px;
}

.popup-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tech-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tech-item {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 20px;
  border-radius: 10px;
}

.tech-item:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.buttonX {
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/* media query :phone*/
@media screen and (min-width: 390px) and (max-width: 767px) {
  .popup-container {
    width: 250px;
  }

  .popup-content {
    padding: 25px 15px;
    gap: 20px;
  }

  .popup-content iframe {
    width: 200px;
    height: 100px;
    margin-top: 10px;
  }

  .popup-box {
    width: 200px;
    gap: 20px;
  }

  .popup-title {
    font-size: 20px;
  }

  .link-container {
    gap: 10px;
  }

  .popup-link {
    width: 100px;
    font-size: 10px;
    padding: 5px 6px;
  }

  .popup-description {
    font-size: 14px;
  }

  .buttonX {
    scale: 0.7;
    top: 5px;
    right: 5px;
  }

  .tech-box {
    gap: 10px;
  }

  .tech-item {
    padding: 5px 15px;
    font-size: 12px;
  }
}
