:root {
  --primary-color: #171967;
  --secondary-color: #f8f9fa;
  --highlight-color: #c961de;
  --dark-color: #444444;
  --white-color: #f8f9fa;

  --shadow-color: rgba(255, 255, 255, 0.1);
  --shadow-highlight: #f8f9fa;
  --shadow-text: rgba(250, 250, 250, 0.4);
  --background-color: rgba(15, 16, 63, 0.5);
}
.dark-theme {
  --primary-color: #f8f9fa;
  --secondary-color: #171967;

  --shadow-color: rgba(233, 233, 233, 0.5);
  --shadow-highlight: #c961de;
  --shadow-text: rgba(201, 97, 222, 0.5);
  --background-color: rgba(123, 127, 145, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 200px;
  background: var(--primary-color);
}

#shadow-host-companion {
  display: none;
}

/* media query */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .App {
    gap: 140px;
  }
}

/* media query :phone*/
@media screen and (min-width: 375px) and (max-width: 767px) {
  .App {
    gap: 150px;
  }
}
