:root {
  --primary-color: #0f103f;
  --secondary-color: #f8f9fa;
  --highlight-color: #c961de;
  --dark-color: #444444;

  --text-large-size: large;
  --text-medium-size: medium;
  --text-small-size: small;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 150px;
  /* background: linear-gradient(
    180deg,
    rgb(19, 21, 94) 0%,
    rgb(25, 52, 103) 100%
  ); */
  background: rgb(23, 25, 103);
}
