/* Contact Page */
.scrollTop-container {
  background-color: var(--background-color);
  padding-top: 210px;
  padding-bottom: 35px;
  display: flex;
  justify-content: end;

  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  padding-right: 60px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.contact-item p,
.contact-item h3 {
  color: var(--secondary-color);
}

.scrollTop {
  text-decoration: none;
  display: flex;
}

.scrollTop img {
  width: 25px;
  margin-left: 10px;
  z-index: 10;
}

.scrollTop:hover img {
  animation: rocket-rotate 1.5s ease-out infinite;
}

/* rocket */
.rocket-box {
  position: relative;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--white-color);
  top: 5px;
  right: 7.5px;
  position: absolute;
}

.rocket-circle {
  border-radius: 50%;
  background-color: var(--white-color);
  animation: rocket 2.4s ease-out infinite;
}

.big {
  height: 12px;
  width: 12px;
  top: 10px;
  right: 6px;
  position: absolute;
}

.small {
  height: 8px;
  width: 8px;
  top: 15px;
  position: absolute;
}

.right {
  right: 0.6px;
}

.left {
  right: 15px;
}

@keyframes rocket {
  0% {
    transform: translateY(14px);
  }
  50% {
    transform: translateY(18px);
  }
  100% {
    transform: translateY(14px);
  }
}

@keyframes rocket-rotate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* box */
section {
  position: relative;
  margin-top: 200px;
}

.box-container {
  backdrop-filter: blur(30px);
  background-color: var(--shadow-color);
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 75%;
  top: -160px;
  left: 50%;
  transform: translateX(-50%);
}

.box-container h2 {
  color: var(--highlight-color);
  font-size: 2rem;
  text-shadow: 2px 2px 20px var(--shadow-text);
  margin-bottom: 30px;
}

.box-contact {
  display: flex;
  gap: 100px;
}

.contact-me {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  margin-top: 10px;
  text-decoration: none;
  font-size: 14px;
}

.contact-me p {
  color: var(--highlight-color);
}

.contact-me img {
  width: 20px;
  height: 20px;
}

.contact-me:hover img {
  transform: translateX(8px);
  transition: 0.6s;
}

.social-icon {
  width: 65px;
  height: 65px;
  fill: var(--secondary-color);
}

.contact-item .social-icon {
  border-radius: 50%;
  border: transparent;
}

.contact-item:hover .social-icon {
  transition: 0.01s;
  border: 4px solid var(--highlight-color);
  border-radius: 50%;
  cursor: pointer;
}

/* media query */
@media screen and (min-width: 768px) and (max-width: 1175px) {
  .scrollTop-container {
    padding-top: 130px;
    padding-bottom: 35px;

    border-top-right-radius: 75px;
    border-top-left-radius: 75px;
    padding-right: 75px;
  }

  .contact-item svg {
    width: 55px;
    height: 55px;
  }

  .box-container {
    border-radius: 20px;
    padding: 25px;
    top: -160px;
  }

  .box-contact {
    gap: 30px;
  }

  .contact-me {
    margin-top: 0px;
  }

  .contact-me img {
    width: 15px;
    height: 15px;
  }

  .contact-item h3 {
    display: none;
  }

  .contact-text {
    display: none;
  }

  section {
    margin-top: 100px;
  }
}

/* media query :phone*/
@media screen and (min-width: 375px) and (max-width: 767px) {
  .scrollTop-container {
    padding-top: 100px;
    padding-bottom: 35px;

    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-right: 50px;
  }

  .box-container p {
    font-size: 0.8rem;
  }

  .box-container h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .contact-item .social-icon {
    width: 35px;
    height: 35px;
  }

  .box-container {
    border-radius: 15px;
    padding: 25px;
    top: -100px;
  }

  .box-contact {
    display: flex;
    gap: 30px;
  }

  .contact-me,
  .contact-item p,
  .contact-item h3 {
    display: none;
  }

  section {
    margin-top: 0px;
  }
}
