/* Education and Work Page */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.educationWork-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-main-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 150px;
}

.detail-container {
  display: flex;
  width: 50em;
  gap: 40px;
  width: 100%;
  z-index: 80;
}

.detail-boxL {
  width: 15em;
  border-right: 2px solid var(--highlight-color);
}

.detail-boxR {
  width: 100%;
}

.detail-boxR h3 {
  margin-bottom: 5px;
}

.detail-desc li {
  list-style: none;
  padding: 20px;
  border: 2px solid var(--highlight-color);
  border-radius: 15px;
  margin: 15px 10px 15px 10px;
}

.contain img {
  animation: float 5s ease-out infinite;
}

.educationWork-title {
  margin-bottom: 20px;
  color: var(--highlight-color);
  font-size: 2rem;
  text-shadow: 2px 2px 20px rgba(248, 249, 250, 0.4);
}

/* -------------------- */
.educationWork-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 300px;
}

.contain {
  width: 50em;
  height: 50em;
  position: relative;
}

.sun {
  position: absolute;
  top: 15em;
  left: 15em;
  width: 20em;
  height: 20em;
  background: linear-gradient(
    120deg,
    rgba(201, 97, 222, 1) 0%,
    rgba(41, 84, 163, 1) 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 3em white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earth,
.moon {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 0.1em 0.1em 0 0;
  border-radius: 50%;
}

.earth {
  top: 5em;
  left: 5em;
  width: 40em;
  height: 40em;
  animation: orbit 36.5s linear infinite;
}

.moon {
  top: 1.4em;
  left: 30em;
  width: 10em;
  height: 10em;
  animation: orbit 2.7s linear infinite;
}

.earth::before,
moon::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.earth::before {
  top: 4.6em;
  right: 3.8em;
  width: 3em;
  height: 3em;
  background-color: var(--highlight-color);
  box-shadow: 0 0 3em var(--highlight-color);
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
