/* Intoduction Page */
.intro-page {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

.intro-container {
  width: 45%;
}

.intro-description {
  max-width: 85%;
}

.intro-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3rem;
  color: var(--highlight-color);
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 3px solid;
  animation: typing 5.5s steps(30) infinite alternate,
    blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  frame {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.intro-carreer {
  font-weight: 600;
  font-size: 1.8rem;
}

.intro-description {
  margin-top: 10px;
}

.intro-button {
  display: flex;
  justify-content: start;
  gap: 30px;
  padding-top: 100px;
}

.intro-button button {
  color: var(--white-color);
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 40px;
  margin-top: 30px;
  cursor: pointer;
  background: linear-gradient(
    120deg,
    rgba(201, 97, 222, 1) 0%,
    rgba(41, 84, 163, 1) 100%
  );
}

.hireme {
  color: var(--white-color);
}

.intro-button button:hover {
  box-shadow: 2px 2px 20px rgba(248, 249, 250, 0.4);
  transform: scale(1.1);
}

.intro-contact {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 30px;
}

.intro-page img {
  height: 350px;
  filter: drop-shadow(2px 2px 50px rgba(201, 97, 222, 0.8));
}

/* media query */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro-page {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }

  .intro-button {
    padding-top: 50px;
  }

  .intro-name {
    animation: typingmid 5s steps(30) infinite alternate,
      blink 0.5s step-end infinite alternate;
  }

  .intro-container {
    width: 70%;
  }

  .intro-description {
    max-width: 100%;
  }

  @keyframes typingmid {
    frame {
      width: 0;
    }
    to {
      width: 105%;
    }
  }
}

/* media query :phone*/
@media screen and (min-width: 375px) and (max-width: 767px) {
  .intro-page {
    margin-top: -250px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .intro-description {
    font-size: 14px;
  }

  .intro-page img {
    scale: 0.6;
  }

  .intro-container {
    width: 80%;
  }

  .intro-button,
  .intro-description {
    max-width: 80%;
  }

  .intro-button {
    padding-top: 30px;
  }

  .intro-name {
    font-size: 1.6rem;
    animation: typingsmall 5s steps(30) infinite alternate,
      blink 0.5s step-end infinite alternate;
  }

  .intro-carreer {
    font-size: 1.2rem;
  }

  .intro-button button {
    width: 130px;
  }

  @keyframes typingsmall {
    frame {
      width: 0;
    }
    to {
      width: 82%;
    }
  }
}
