.space {
  height: 120px;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

.skill-title {
  color: var(--highlight-color);
  font-size: 2rem;
  text-shadow: 2px 2px 20px var(--shadow-text);
}

.skill-list {
  display: flex;
  gap: 10px;
}

/* ------------------ */
.skill-text-box {
  text-align: center;
}

.skill {
  flex: 1;
  backdrop-filter: blur(30px);
  background-color: var(--shadow-color);
  border-radius: 10px;
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.skill li {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

li img {
  margin-right: 10px;
}

.skill h2 {
  margin-bottom: 20px;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* media query */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .skill-container {
    margin-top: -400px;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}

/* media query :phone*/
@media screen and (min-width: 375px) and (max-width: 767px) {
  .skill-container {
    margin-top: -1000px;
    gap: 0px;
  }

  .skill-title-box {
    scale: 0.85;
  }

  .skill-list {
    scale: 0.85;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 50px;
  }

  .skill-title {
    font-size: 1.6rem;
    text-align: center;
  }
}
